# Moamalat Payment Gateway Credentials
MOAMALAT_MERCHANT_ID=
MOAMALAT_TERMINAL_ID=
MOAMALAT_MERCHANT_SECRET=
MOAMALAT_BASE_URL=https://moamalat.net/pay/payment/api/payment/pay
MOAMALAT_RETURN_URL=http://localhost:3000/api/moamalat/callback
